/MiniCLexer.py
/MiniCParser.py
/MiniCVisitor.py
/*/tests/**/*.s
/*/**/*.riscv
/*/**/*-naive.s
/*/**/*-all_in_mem.s
/*/**/*-smart.s
/*/**/*.trace
/*/**/*.dot
/*/**/*.dot.pdf
/MiniC-stripped.g4
.coverage
htmlcov/
doc/api
doc/_build
log-*.txt
.eval-done.txt
*.py.diff
*.g4.diff
